@font-face {
    font-family: 'neon_club_musicregular';
    src: url('../fonts/neoneon/Neoneon.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bobble';
    src: url('../fonts/Bobbleboddy/Bobbleboddy_light.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

.contenitore {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "neon_club_musicregular", Courier, serif; /* font del titolo*/
    font-size: 5em; /* Grandezza del titolo*/
    margin-bottom: 70px;
}

.neonText {
    color: #ffdead;
    text-shadow:
            0 0 18px #ffa07a,
            0 0 21px #ff00ff,
            0 0 31px #ff00ff,
            0 0 51px #fff0f5,
            0 0 92px #ffdab9,
            0 0 102px #ffe4b5,
            0 0 112px #ffe4e1,
            0 0 161px #ffe4e1;
}

.neonText2 {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}
.subtitle{
    font-family: "bobble", Courier, serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.selections{
    background-color:#ffdead;
    border-radius: 10%;
    box-shadow:inset 3px 3px 15px -30px #40FF0B,5px 5px 10px 1px #F3FF83;
    margin: 15px 15px 40px;
    padding: 10px 15px;
    font-size: 1.2em;
    border-color: #ffdead;
    cursor:pointer;
    font-family: "bobble", Courier, serif;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

}

.options-container div {
    background-color: crimson;
    color: white;
    width: 50px;
    height: 50px;
    cursor:pointer;

}

.new_name p{
    font-family: "bobble", Courier, serif;
    font-size: 2.5em;
    margin: 10px 0 120px;
    justify-content: inherit;
    text-transform: uppercase;
}

button{

    border-radius: 10px;
    position: absolute;
    margin-left: 970px;
    margin-top: 650px;
    padding: 10px 20px; /* grandezza bottoni */
    background-color: #ffdead;
    box-shadow: inset 3px 3px 50px -13px #40FF0B,5px 5px 35px 2px #F3FF83;
    font-family: "neon_club_musicregular", Courier, serif; /* font bottoni */
    cursor: pointer;
    font-size: 30px
}

.nick{
    color:#ffdead;
    font-family: "bobble", Courier, serif; /* font Nickname*/
    font-size:1em;
    margin-bottom: 10px;

}
.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 40px #fff0f5,
        0 0 80px #ffdab9,
        0 0 90px #ffe4b5,
        0 0 100px #ffe4e1,
        0 0 150px #ffe4e1;
    }
    0% {
        /* Smaller blur radius */
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 38px #fff0f5,
        0 0 73px #ffdab9,
        0 0 80px #ffe4b5,
        0 0 94px #ffe4e1,
        0 0 140px #ffe4e1;
    }
}