@font-face {
    font-family: 'neon_club_musicregular';
    src: url('../fonts/neoneon/Neoneon.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}



.contenitore {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; /*allinea tutti gli elementi del contenitore in colonne*/
    justify-content: center;
    align-items: center; /*allinea tutti gli elementi del contenitore in centro*/
    gap: 130px; /* gap tra il titolo e i bottoni */
}

.title {
    font-family: "neon_club_musicregular", Courier, serif; /* font del titolo*/
    font-size: 5em; /* Grandezza del titolo*/
    margin-bottom: 10px;
}

.row button {
    border: none;
    border-radius: 10px;
    padding: 30px 40px; /* grandezza bottoni */
    background-color: #ffdead;
    box-shadow: inset 3px 3px 50px -13px #40FF0B,5px 5px 35px 2px #F3FF83;
    margin: 0 40px 150px; /* il terzo valore è il gap tra bottoni e nomi*/
    font-family: "Courier New", Courier, serif; /* font bottoni */
    cursor: pointer;
}

.neonText {
    color: #ffdead;
    text-shadow:
            0 0 18px #ffa07a,
            0 0 21px #ff00ff,
            0 0 31px #ff00ff,
            0 0 51px #fff0f5,
            0 0 92px #ffdab9,
            0 0 102px #ffe4b5,
            0 0 112px #ffe4e1,
            0 0 161px #ffe4e1;
}

.names{
    color:#ffdead;
    font-size: 0.8em;
    font-family: "Courier New", Courier, serif; /* font nomi*/
}