@font-face {
    font-family: 'neon_club_musicregular';
    src: url('../fonts/neoneon/Neoneon.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bobble';
    src: url('../fonts/Bobbleboddy/Bobbleboddy_light.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    background-color: black;
}

.contenitore {
    background-color: black;
    height: 100%;
    width: 100%;
    min-width: 700px;
    position: absolute;
    display: inline-flex;
    flex-direction: column; /*allinea tutti gli elementi del contenitore in colonne*/
    justify-content: space-evenly;
    align-items: center; /*allinea tutti gli elementi del contenitore in centro*/
}

.avatar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    min-width: 200px;
    min-height: 200px;
}

.haircut{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    min-width: 200px;
    min-height: 200px;
}

.avatar_container{
    position:relative;
    background-color: white;
    width: 50%;
    height:100%;
    min-width: 350px;
    max-width:400px;
    /*margin-bottom: 10px;*/
}

.create-container{
    height: 60%;
    width: 100%;
    min-width: 700px;
    justify-content: space-evenly;
    display: none;
}

.svgimage{
    height: 90%;
    padding: 2%;
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 80px;
    transform: translate(-50%, -50%);
}
.selectelement{
    width:80px;
    height:80px;
}
.selection{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width:300px;
}

.title {
    font-family: "neon_club_musicregular", Courier, serif; /* font del titolo*/
    font-size: 5em; /* Grandezza del titolo*/
    margin-block-start: unset;
    margin-block-end: unset;
    /*margin-bottom: 70px;*/
}

.subtitle{
    font-family: "bobble", Courier, serif;
    font-size: 2.5em;
    margin-block-start: unset;
    margin-block-end: unset;
    /*margin-bottom: 20px;*/
}

.neonText {
    color: #ffdead;
    text-shadow:
            0 0 18px #ffa07a,
            0 0 21px #ff00ff,
            0 0 31px #ff00ff,
            0 0 51px #fff0f5,
            0 0 92px #ffdab9,
            0 0 102px #ffe4b5,
            0 0 112px #ffe4e1,
            0 0 161px #ffe4e1;
}

.neonText2 {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}

.nick{
    color:#ffdead;
    font-family: "bobble", Courier, serif; /* font Nickname*/
    font-size:1.5em;
    /*margin-bottom: 10px;*/
}

input {
    font-size: 1.5em;
}

p {
    margin-block-start: unset;
    margin-block-end: unset;
}

.selections{
    background-color:#ffdead;
    border-radius: 10%;
    box-shadow:inset 3px 3px 15px -30px #40FF0B,5px 5px 10px 1px #F3FF83;
    /*margin: 15px 15px 40px;*/
    padding: 10px 15px;
    font-size: 1.2em;
    border-color: #ffdead;
    cursor:pointer;
    font-family: "bobble", Courier, serif;

}

.options-container {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    border-color: white;
    width: 100%;
    /*height: 50%;*/
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.fil_container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    border-color : white;
    width: 70%;
    height: 50%;
    gap:10px;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

#options-container2{
    width:30%;
    height: 40%;
}

#name-list-container{
    width: 60%;
    height: 50%;
    border: white;
    background-color:black;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;

}

.avatar_container_f{
    position:relative;
    background-color: black;
    width: 60%;
    height: 50%;
    margin-top: 20%;
    margin-bottom: 20%;

    /*margin-bottom: 10px;*/
}

#name-list{
    width: 100%;
    height: 100%;
    padding-inline-start: 0px;
    cursor: pointer;
    overflow-y: scroll;
    background-color: black;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

#name-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#name-list::-webkit-scrollbar {
    width: 10px;
}

#name-list::-webkit-scrollbar-track {
    background-color: #020202;
}

#name-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.grid_container {
    position: relative;
    display: grid;
    width: 80%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;

}

#body_f{
    position:relative;
    width: 80%;
    height: 80%;
    align-content: center;
}


object {
    pointer-events: none;
}


.new_name{
    font-family: "bobble", Courier, serif;
    font-size: 2.5em;
    /*margin: 10px 0 120px;
    justify-content: inherit;*/
    text-transform: uppercase;
}

#name-avatar_f{
    position: relative;
    align:center;
    justify-content: center;
    left: 100px;
    top: 0px;
}

.avatar-hair{
    position:absolute;
    height:85%;
    left:8%;
    top:10%;
}
.colors{
    height: 50px;
    width: 50px;
    border-radius:50%;
    border: 3px solid white;
    background-color: red;
    cursor: pointer;
}

.black_hair{
    fill: #251f26;
}

#black_hair{
    background-color: #000000;
}

.brown_hair{
    fill: #8B4513;
    stroke: #6e2e21;
    opacity: 1;
}

#brown_hair{
    background-color: #8B4513
}

.blonde_hair{
    fill: #ffe735;
    stroke: #e4a42c;
    opacity: 1;
}



#blonde_hair{
    background-color: #ffe735;
}



.white_hair{
    fill: #ffffff;
    stroke: #868484;
    opacity: 1;
}

#white_hair{
    background-color: #ffffff;
}

.red_hair{
    fill: #b42222;
    stroke: #691f1f;
}

#red_hair{
    background-color: #B22222;
}

.grey_hair{
    fill: hsl(0, 0%, 50%);
    stroke: hsl(0, -14%, 35%);
    opacity: 1;
}

#grey_hair{
    background-color: #808080;
}

.lightbrown_hair{
    fill: #CD853F;
    stroke: #8a5820;
    opacity: 1;
}

#lightbrown_hair{
    background-color:#CD853F;
}

.pink_hair{
    fill: #FF69B4;
    stroke: #b205a9;
    opacity: 1;
}

#pink_hair{
    background-color: #FF69B4;
}

.blue_hair{
    fill: #1E90FF;
    stroke: #067ead;
    opacity: 1;
}

#blue_hair{
    background-color: #1E90FF;
}

.brown2_hair{
    fill: #622f17;
    stroke: #422304;
    opacity: 1;
}

#brown2_hair{
    background-color: #622f17;
}

.chocolate_hair{
    fill: #D2691E;
    stroke: #c46b00;
    opacity: 1;
}

#chocolate_hair{
    background-color: #D2691E;
}

.gold_hair{
    fill: #ffb500;
    stroke: #f39017;
    opacity: 1;
}

#gold_hair{
    background-color: #ffb500;
}

#skin1{
    background-color: #f0c7b1;
}

.skin1{
    fill:#f0c7b1;
    stroke: #c27b55;
}

.skin11{
    fill:#c27b55;
}

#skin2{
    background-color: #f6b9b6;
}

.skin2{
    fill: #ebbbb7;
    stroke: #d28c78;
}

.skin21{
    fill: #d28c78;
}

#skin3{
    background-color: #fac29d;
}

.skin3{
    fill: #fac29d;
    stroke: #f79e83;
}

.skin31{
    fill: #f79e83;
}

#skin4{
    background-color: #f19975;
}

.skin4{
    fill:#f19975;
    stroke: #e28548;
}

.skin41{
    fill: #e28548;
}

#skin5{
    background-color: #fdd599;
}

.skin5{
    fill: #fdd599;
    stroke: #cea059;
}

.skin51{
    fill: #cea059;
}

#skin6{
    background-color: #ecac7a;
}

.skin6{
    fill: #ecac7a;
    stroke: #c3804d;
}

.skin61{
    fill: #c3804d;
}

#skin7{
    background-color: #4d2f2b;
}

.skin7{
    fill: #4d2f2b;
    stroke: #42231f;
}

.skin71{
    fill: #42231f;
}

#skin8{
    background-color: #9b572a;
}

.skin8{
    fill: #9b572a;
    stroke: #6d3814;
}

.skin81{
    fill: #6d3814;
}

#skin9{
    background-color: #54311a;
}

.skin9{
    fill: #54311a;
    stroke: #462510;
}

.skin91{
    fill: #462510;
}

#skin10{
    background-color: #753c19;
}

.skin10{
    fill:  #753c19;
    stroke: #5b290c;
}

.skin101{
    fill: #5b290c;
}

#green_eyes{
    background-color: #09883d;
}

.green_eyes{
    fill: #09883d;
}

#blue_eyes{
    background-color: #1d82cc;
}

.blue_eyes{
    fill: #1d82cc;
}

#brown_eyes{
    background-color: #6e2e21;
}

.brown_eyes{
    fill: #6e2e21;
}

#grey_eyes{
    background-color: #4b5757;
}

.grey_eyes{
    fill: #4b5757;
}

.backdone{
    width:100%;
    justify-content: space-around;
    display: flex;
    left: 5%;
    right: 5%;
}

button{
    border-radius: 10px;
    padding: 10px 20px; /* grandezza bottoni */
    background-color: #ffdead;
    box-shadow: inset 3px 3px 50px -13px #40FF0B,5px 5px 35px 2px #F3FF83;
    font-family: "neon_club_musicregular", Courier, serif; /* font bottoni */
    cursor: pointer;
    font-size: 30px;
    position:relative;
    margin: 0 0 0;
}


.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 40px #fff0f5,
        0 0 80px #ffdab9,
        0 0 90px #ffe4b5,
        0 0 100px #ffe4e1,
        0 0 150px #ffe4e1;
    }
    0% {
        /* Smaller blur radius */
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 38px #fff0f5,
        0 0 73px #ffdab9,
        0 0 80px #ffe4b5,
        0 0 94px #ffe4e1,
        0 0 140px #ffe4e1;
    }
}