.black{
    fill: #000000;
    stroke: #000000;
    opacity: 1;
}

.brown{
    fill: #4c0000;
    stroke: #4c0000;
    opacity: 1;
}

.blonde{
    fill: #e7ad22;
    stroke: #e4a42c;
    opacity: 1;
}
