body{
    margin: 0;
    background-color: black;
}

.contenitore {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    flex-direction: column; /*allinea tutti gli elementi del contenitore in colonne*/
    justify-content: space-evenly;
    align-items: center; /*allinea tutti gli elementi del contenitore in centro*/
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

button{
    border: none;
    border-radius: 10px;
    padding: 30px 40px; /* grandezza bottoni */
    background-color: #ffdead;
    box-shadow: inset 3px 3px 50px -13px #40FF0B,5px 5px 35px 2px #F3FF83;
    margin: 0px 40px 0px; /* il terzo valore è il gap tra bottoni e nomi*/
    font-family: "neon_club_musicregular", Courier, serif; /* font bottoni */
    cursor: pointer;
    font-size: 30px;
}

/*font*/

.title {
    font-family: "neon_club_musicregular", Courier, serif; /* font del titolo*/
    font-size: 5em; /* Grandezza del titolo*/
    margin-block-start: unset;
    margin-block-end: unset;
}

.names{
    color:#ffdead;
    font-size: 1em;
    font-family: "bobble", Courier, serif; /* font nomi*/
}

.pulsate {
    animation: pulsate 1.5s infinite alternate;
}

@keyframes pulsate {

    100% {
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 40px #fff0f5,
        0 0 80px #ffdab9,
        0 0 90px #ffe4b5,
        0 0 100px #ffe4e1,
        0 0 150px #ffe4e1;
    }
    0% {
        /* Smaller blur radius */
        text-shadow: 0 0 4px #ffa07a,
        0 0 15px #ff00ff,
        0 0 25px #ff00ff,
        0 0 38px #fff0f5,
        0 0 73px #ffdab9,
        0 0 80px #ffe4b5,
        0 0 94px #ffe4e1,
        0 0 140px #ffe4e1;
    }
}

.neonText {
    color: #ffdead;
    text-shadow:
            0 0 18px #ffa07a,
            0 0 21px #ff00ff,
            0 0 31px #ff00ff,
            0 0 51px #fff0f5,
            0 0 92px #ffdab9,
            0 0 102px #ffe4b5,
            0 0 112px #ffe4e1,
            0 0 161px #ffe4e1;
}

@font-face {
    font-family: 'neon_club_musicregular';
    src: url('../fonts/neoneon/Neoneon.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bobble';
    src: url('../fonts/Bobbleboddy/Bobbleboddy_light.woff') format('woff');
    /*url('fonts/clip/clip-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}